DB_HOST="localhost"
DB_DATABASE="your_database_name"
DB_USERNAME="your_username"
DB_PASSWORD="your_password"
DB_CHARSET="utf8mb4"

JWT_SECRET="CHANGE_THIS_TO_A_VERY_LONG_AND_SECURE_STRING"

# Configuracion General de la API
APP_ENV="production"
APP_URL="https://tu_dominio.com/api"
